{
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "plugins": [
    "node",
    "prettier"
  ],
  "rules": {
    "strict": ["error"],
    "no-console": ["off"],

    "node/no-unsupported-features": ["error", {"version": 4}],
    "node/no-missing-require": "error",

    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}
