{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 10
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "plugins": [
    "node"
  ],
  "rules": {
    "strict": ["error", "global"],
    "no-console": ["off"],
    "node/no-unsupported-features": ["error", {"version": 10}],
    "node/no-missing-require": "error"
  }
}
